html {
    box-sizing: border-box;
  }
  
body {
    background-image: linear-gradient( azure, beige , burlywood );
    color: rgba(0, 0, 0, 0.596);
    margin-top: 2%;
}

.p1{
    margin-left: 4% ;
}

.p2{
    margin-left: 20px ;
    margin-right: 15px ;
}

em{
    float: right;
}
h1{
  margin-left: 4% ;
}
img{
  margin-left: 12%;
}
footer{
    font-size: 20px; 
    color:rgb(112, 4, 0);
    background-color: black;
    padding: 10px;
}
a:link, a:visited {
    color:dimgray ;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

a:hover, a:active {
    color: orangered;
  }

table, th, td {
    border: none ;
    margin-left: 4% ;
    text-align: left;
    border: 1.5px solid orange;
      background-color: rgba(255, 228, 196, 0.596);
      color: brown;
      padding: 15px;
      border-collapse: collapse;
}